* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
background-image: -webkit-linear-gradient(#009688 0px, #009688 15vh, #dddbd1 15vh, #d2dbdc 100%);
background-image: -o-linear-gradient(#009688 0px, #009688 15vh, #dddbd1 15vh, #d2dbdc 100%);
background-image: linear-gradient(#009688 0px, #009688 15vh, #dddbd1 15vh, #d2dbdc 100%);
background-repeat: no-repeat;
height: 100vh;
}

.container {
    width: 900px;
    height: 600px;
    background-color: lightgreen;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);

}
.top-left-bar {
    height: 50px;
    width: 100%;
    background-color: CornflowerBlue ;
}
.top-right-bar {
    height: 50px;
    width: 100%;
    background-color: CornflowerBlue;

}
.contatti {
    width: 300px;
    height: 100%;
    background-color: AntiqueWhite;
    float: left;

}
.persona {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid black;

}
.cerca {
    width: 100%;
    height: 40px;
    background-color: LawnGreen;
    border-bottom: 1px solid black;

}
.conversazione {
    width: 600px;
    height: 100%;
    float: left;

}
.container-chat {

    height: calc(100% - 120px);
    margin: auto;
    overflow-y: auto;
    padding: 20px;
}
.messaggio {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: coral;
    margin-top: 30px;
    clear: both;

}
.risposta {
    background-color: NavajoWhite;
    float: right;
}
.footer {
    width: 100%;
    height: 70px;
    background-color: Azure;
}
