* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.background {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: lightblue;
    overflow: hidden;
}
.header {
    width: 100%;
    height: 150px;
    background-color: orange;
}
.container {
    width: 900px;
    height: 600px;
    background-color: lightgreen;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);

}
.bar-top-left {
    height: 50px;
    width: 100%;
    background-color: CornflowerBlue ;
}
.bar-top-right {
    height: 50px;
    width: 100%;
    background-color: CornflowerBlue;
}
.contatti {
    width: 300px;
    height: 100%;
    background-color: AntiqueWhite;
    float: left;

}
.persona {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid black;

}
.cerca {
    width: 100%;
    height: 40px;
    background-color: LawnGreen;
    border-bottom: 1px solid black;

}
.conversazione {
    width: 600px;
    height: 100%;
    float: left;
    overflow-y: auto;
}
.container-chat {
    width: 90%;
    margin: auto;
}
.messaggio {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: coral;
    margin-top: 30px;
    clear: both;

}
.risposta {
    background-color: NavajoWhite;
    float: right;
}
